# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pytest cache
.pytest_cache/

# Environment directories
.env
.venv/
venv/
env/

minGPT/

# VS Code settings
.vscode/

# hydra outputs
outputs/

# wandb log files
wandb/

# batch job and output files
batch_job/
*.sh.*
batch_job/optimistic.sh

# checkpoint files
checkpoint/

# testing files
test/
test_logs/
test.py
new_test.py
test_log.txt

# other directories
opt/
mechanic.py
trainer.py
# scc_setup.sh
activate_env.sh
# check_env.py
# requirements.txt
test_data.jsonl
loadit_iterator.py